---
layout: default
permalink: /projects/index.html
title: Projects
---
{% include header.html %}

<h2>Open source projects I'm involved with:</h2>

<section class="list">
  <div class="item">
    <a class="url" href="http://jsonapi-rb.org">
      <aside>Author</aside>
      <h3 class="title">jsonapi-rb</h3>
    </a>
    <p>Ruby library for efficiently producing and consuming <a href="http://jsonapi.org">JSON API</a> documents, with Rails and Hanami integrations.</p>
  </div>
  <div class="item">
    <a class="url" href="http://github.com/rails-api/active_model_serializers">
      <aside>Core contributor</aside>
      <h3 class="title">ActiveModelSerializers</h3>
    </a>
    <p>ActiveModel serialization for rails.</p>
  </div>
  <div class="item">
    <a class="url" href="http://github.com/beauby/jsonapi-datastore">
      <aside>Author</aside>
      <h3 class="title">jsonapi-datastore</h3>
    </a>
    <p>Lightweight javascript datastore for <a href="http://jsonapi.org">JSON API</a>.</p>
  </div>
</section>

{% include footer.html %}
